<ion-view view-title="{{page.title}}" class="main_row" ng-controller="about">
	<ion-nav-bar class="bar-stable bar-positive" style="position:fixed; width:100%; padding-bottom:2%;">
  	<button class="button button-icon button-clear ion-navicon" menu-toggle="right" style="color:#FFF !important; float: right; font-size: 30px; z-index:999;"></button>
  </ion-nav-bar>
    <div class="bar bar-subheader" style="background-color: #e8e8e8;">
	 	<div style="width: 100%;text-align: center;line-height: 32px;overflow: hidden;text-overflow: ellipsis;">About</div>
	</div>
	<style type="text/css">
		ion-content .scroll{
			height: calc(100% - 44px);
			padding: 2%
		}
	</style>
  <ion-content class="surveyPage has-subheader">
    <ng-include src="'templates/testmode.html'" ng-show="checkAppMode()" ng-controller="settingsCTRL"></ng-include>
  
	
	<div dynamic="about_page_content"></div>
	
    <div style="width: 100%; background-color: white;padding: 20px; margin-top: 5%;">
        <div class="row" style="padding: 0;    margin-bottom: 12px;    border-bottom: 1px solid #e8e8e8;padding-bottom: 12px;">
            <div class="col " style="padding: 0">
            Build Version:
            </div>
            <div class="col" style="text-align: right;padding: 0" ng-controller="settingsCTRL">
                 {{build_version}}
            </div>          
        </div>
        <div class="row" style="padding: 0;    margin-bottom: 12px;border-bottom: 1px solid #e8e8e8;padding-bottom: 12px;">
            <div class="col " style="padding: 0">
            Build Number :
            </div>
            <div class="col" style="text-align: right;padding: 0">
                20180601
            </div>          
        </div>
    </div>
  </ion-content>
  	<div ng-include="'templates/footer.html'">
		
	</div>
</ion-view>