<!-- <ion-footer-bar class="label" style="position: relative;top:575px;line-height: 35px">&copy; All rights reserved with Dr. Ashish Joshi v4.2.0 <span style="font-size: 11px;">(Designed & Developed By FHTS)</span></ion-footer-bar>  -->

	<div class="bar bar-footer" >
		<div style="width: 100%;color: white;text-align: center;line-height: 44px;">Designed and Developed by <a target="_blank" href="javascript:void(0)" style="color: white" onclick="window.open('http://fhts.ac.in/','_system')">FHTS</a>. Version 4.2.1</span></div>
		
	</div>