<style type="text/css">
	.ng-binding .ng-pristine{
		margin-right: 5px;
	}
	.ionic .ion-checkmark:before {
	    padding: 5px 6px !important;
	    background: blue !important;
	    color: white !important;
	    border-radius: 100% !important;
	    font-size: 17px !important;
	    height: 27px !important;
	}
	.answer_row .col ul li{
		padding-left: 0px !important;
		padding: 0px !important;
    	background-color: transparent !important;
	}
	.ion-checkmark:before{
		    border: 3px solid;
		    width: 32px;
		    text-align: center;
		    line-height: 26px;
		    border-radius: 50%;
		    font-size: 19px;
	}
	.radio-icon{
		margin-top: -6px;
	}
	.background-options{
		    background-color: white;
   			padding:5px 5px 5px 5px;
   			margin-bottom: 0;


	}
	.background-options > .md-container{
		margin-left: 10px

	}
	.background-options > .md-label{
		top: -1.5px;

	}
    
</style>
<div class="row answer_row">
	<div class="col">
        <ul>
            <li ng-repeat="opt in $parent.radioOptions">
                <label><input type="radio" value="{{opt.option_value}}" name="radio" ng-model="radioAnswer.value" ng-click="setNextQuestion(opt.option_next)" /> {{opt.option_text}}</label>
            </li>
        </ul>
		<!-- <ul>
			<md-radio-group ng-model='radioAnswer.value'>
				<li>
					<md-radio-button ng-repeat="opt in $parent.radioOptions" class="background-options" name="radio"  ng-value="'{{opt.option_value}}'" ng-click="setNextQuestion(opt.option_next)">{{opt.option_text}}</md-radio-button>
				</li>
			 </md-radio-group>
		</ul> -->
	</div>
</div>
